@model List<DiemChuyenCanViewModel>
@{
    ViewBag.Title = "DiemDanh";
    var accInfo = ViewBag.AccInfo;
    //var listLopNienChe = ViewBag.LopNienChes;
    var maLopMonHoc = ViewBag.MaLopMonHoc;
    //var arrayListLopNC = ViewBag.arrayListLopNC;
    //var listCaHoc = ViewBag.CaHocInfos;
    //var listBuoiHoc = ViewBag.BuoiHocInfos;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-responsive .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    #submitByClass, #lamMoi, #submitByStudent,
    #form_addEachStudent .ripple-surface,
    #form_addByClass .ripple-surface {
        width: 100%;
        font-size: 18px;
    }

    #MaMH {
        line-height: 2rem;
    }
</style>

@*<!--Select2-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
*@
<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/b-2.3.6/b-html5-2.3.6/datatables.min.css" rel="stylesheet"/>
<script defer src="https://cdn.datatables.net/v/dt/dt-1.13.4/b-2.3.6/b-html5-2.3.6/datatables.min.js"></script>

<div class="container py-1">
    <div class="row py-0">
        <div class="col-lg-6">
            <h4>
                Bảng điẻm chuyên cần lớp @maLopMonHoc
            </h4>
        </div>
        
        <div class="col-lg-12 mx-auto" id="from_search">
            <div class="card rounded shadow border-0">
                <div class="row pt-4 ps-5 pe-5 pb-2">
                    <button type="button" class="btn btn-outline-primary d-none" id="btn-add">
                        Smt
                    </button>
                    
                    <input class="btn btn-secondary btn-sm d-none" type="button" value="Làm mới" id="lamMoi" />
                    
                </div>
                
                <div class="card-body p-5 pt-2 bg-white rounded">
                    <div class="table-responsive">
                        <table id="example" style="width:100%" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã sinh viên</th>
                                    <th>Họ Tên</th>
                                    <th>Mã lớp môn học</th>
                                    <th>Số buổi có mặt</th>
                                    <th>Số buổi vắng</th>
                                    <th>Điểm chuyên cần</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var sinhvien in Model)
                                    {
                                        <tr data-id="@sinhvien.MaSinhVien">
                                            <td>@sinhvien.MaSinhVien</td>
                                            <td>@sinhvien.TenSinhVien</td>
                                            <td>@sinhvien.MaLopMonHoc</td>
                                            <td>@sinhvien.SoBuoiCoMat</td>
                                            <td>@sinhvien.SoBuoiVang</td>
                                            <td>@sinhvien.DiemChuyenCan</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div>
                                                Không có dữ liệu sinh viên
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/js/jszip.js"></script>

<script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                text: 'Excel',
                exportOptions: {
                    modifier: {
                        page: 'current'
                    }
                },
                filename: 'ExcelDiemChuyenCan_@maLopMonHoc',
                sheetName: 'Lớp @maLopMonHoc',
                title: 'Bảng điểm chuyên cần lớp @maLopMonHoc'
            }
        ]
    } );
    });
</script>