@using PMLecture.Models
@{
    ViewData["Title"] = "Home Page";
    var data = ViewBag.AccInfo;
    var side = ViewBag.Side;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PMLecture</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/PMStudent.styles.css" asp-append-version="true" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
    <!-- JQuery AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- SweetAlert-->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <!--Bootstraps-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <!--SweetAlert-->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <!--Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <!--Datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <!--Custom CSS-->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/home-sidebar.css" rel="stylesheet" />
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_right">
            <div class="header_info"> @data.HoTen - @data.TenQuyen </div>
            <div class="header_img"> @*<img src="https://i.imgur.com/hczKIze.jpg" alt="">*@ <img src="~/images/default-user-image.png" /> </div>
        </div>
        
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="Home" class="nav_logo"> 
                    <i class='bx bx-layer nav_logo-icon'></i> 
                    <span class="nav_logo-name">Site Giảng Viên</span>
                </a>
                <div class="nav_list">
                    @*<a href="#" class="nav_link"> 
                        <i class='bx bx-grid-alt nav_icon'></i> 
                        <span class="nav_name">Dashboard</span> 
                    </a>*@
                    @if (Convert.ToString(data.MaPhanQuyen) == '0'.ToString())
                    {
                        <a href="@Url.Action("Index", "PhongDaoTao")" class="nav_link nav_link_sidebar" id="PDT">
                            <i class='bx bx-user nav_icon'></i>
                            <span class="nav_name">Phòng đào tạo</span>
                        </a>
                    }
                    @if (Convert.ToString(data.MaPhanQuyen) == '0'.ToString() || Convert.ToString(data.MaPhanQuyen) == '1'.ToString())
                    {
                        <a href="@Url.Action("Index", "GiangVien")" class="nav_link nav_link_sidebar" id="GiangVien">
                            <i class='bx bx-user nav_icon'></i>
                            <span class="nav_name">Giảng viên</span>
                        </a>

                        <a href="@Url.Action("Index", "SinhVien")" class="nav_link nav_link_sidebar" id="SinhVien">
                            <i class='bx bx-user nav_icon'></i>
                            <span class="nav_name">Sinh viên</span>
                        </a>
                    }
                    @if (Convert.ToString(data.MaPhanQuyen) == '0'.ToString())
                    {
                        <a href="@Url.Action("Index", "MonHoc")" class="nav_link nav_link_sidebar" id="MonHoc">
                            <i class='bx bx-folder nav_icon'></i>
                            <span class="nav_name">Môn học</span>
                        </a>
                    }
                    @if (Convert.ToString(data.MaPhanQuyen) == '0'.ToString() || Convert.ToString(data.MaPhanQuyen) == '1'.ToString())
                    {
                        <a href="@Url.Action("Index", "LopMonHoc")" class="nav_link nav_link_sidebar" id="LopMonHoc">
                            <i class='bx bx-folder nav_icon'></i>
                            <span class="nav_name">Lớp môn học</span>
                        </a>
                    }
                    @if (Convert.ToString(data.MaPhanQuyen) == '2'.ToString())
                    {
                        <a href="@Url.Action("Index", "DiemDanh")" class="nav_link nav_link_sidebar" id="DiemDanh">
                            <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                            <span class="nav_name">Điểm danh sinh viên</span>
                        </a>

                        <a href="@Url.Action("IndexXemLaiDiemCC", "DiemChuyenCan")" class="nav_link nav_link_sidebar" id="XemLaiDiemCC">
                            <i class='bx bx-folder nav_icon'></i>
                            <span class="nav_name">Danh sách điểm danh</span>
                        </a>

                        <a href="@Url.Action("Index", "KiemTra")" class="nav_link nav_link_sidebar" id="KiemTra">
                            <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                            <span class="nav_name">Thêm diểm kiểm tra</span>
                        </a>

                        @*<a href="@Url.Action("Index", "DiemChuyenCan")" class="nav_link nav_link_sidebar" id="DiemChuyenCan">
                            <i class='bx bx-folder nav_icon'></i>
                            <span class="nav_name">Xem điểm chuyên cần</span>
                        </a>*@

                        <a href="@Url.Action("Index", "DiemQuaTrinh")" class="nav_link nav_link_sidebar" id="DiemQuaTrinh">
                            <i class='bx bx-folder nav_icon'></i>
                            <span class="nav_name">Xem điểm quá trình</span>
                        </a>

                        

                        
                    }
                    
                    @*<a href="#" class="nav_link"> 
                        <i class='bx bx-user nav_icon'></i> 
                        <span class="nav_name">Users</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-message-square-detail nav_icon'></i> 
                        <span class="nav_name">Messages</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-bookmark nav_icon'></i> 
                        <span class="nav_name">Bookmark</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-folder nav_icon'></i> 
                        <span class="nav_name">Files</span> 
                    </a>
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                        <span class="nav_name">Stats</span> 
                    </a>*@
                </div>
            </div> 
            <a href="@Url.Action("Logout", "LoginGV")" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i> 
                <span class="nav_name">Thoát</span> 
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        @*<h4>Main Components</h4>*@
        @RenderBody()
    </div>
    <!--Container Main end-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/home-sidebar.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        var element = document.getElementById("@side");
        element.classList.add("active");
    </script>
</body>
</html>
