@model List<SinhVienViewModel>
@{
    ViewBag.Title = "SinhVien";
    var listNganh = ViewBag.Nganhs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-responsive .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    #autoGen, .ripple-surface {
        height: 100%;
    }

    #submit, #lamMoi, #update,
    #form_add .ripple-surface {
        width: 100%;
        font-size: 18px;
    }
</style>

<div class="container py-1">
    <div class="row py-0">
        <div class="col-lg-6 mx-auto">
            <h4>
                Thông tin Sinh viên
            </h4>
        </div>
        <div class="col-lg-6 mx-auto text-right">
            <button type="button" class="btn btn-outline-primary" id="btn-add">
                Thêm mới
            </button>
        </div>
        <div class="col-lg-12 mx-auto" id="from_search">
            <div class="card rounded shadow border-0">
                <div class="card-body p-5 bg-white rounded">
                    <div class="table-responsive">
                        <table id="example" style="width:100%" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Họ Tên</th>
                                    <th>Giới Tính</th>
                                    <th>Lớp Niên Chế</th>
                                    <th>Trạng Thái</th>
                                    <th>Sửa</th>
                                    <th>Xoá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var sinhvien in Model)
                                    {
                                        <tr>
                                            <td>@sinhvien.HoTen</td>
                                            <td>@sinhvien.GioiTinh</td>
                                            <td>@sinhvien.LopNienChe</td>
                                            @if (@sinhvien.HoatDong == 0)
                                            {
                                                <td style="color: green">Online</td>
                                            }
                                            else
                                            {
                                                <td style="color: red ">Offline</td>
                                            }
                                            <td>
                                                <a href="#" class="nav_link nav_link-detail" id="@sinhvien.MaSinhVien">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#" class="nav_link nav_link-delete" id="@sinhvien.MaSinhVien">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">
                                            <div>
                                                Không có dữ liệu sinh viên
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="vh-100 gradient-custom d-none" id="form_add">
    <div class="container py-1 h-100">
        <div class="row justify-content-center align-items-center h-auto">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h4 class="mb-4 pb-2 pb-md-0 mb-md-5"></h4>
                        <form>
                            <div class="row d-none">
                                <div class="col-md-12 mb-6">

                                    <div class="form-outline">
                                        <input type="text" id="MaSinhVien" class="form-control form-control-lg" />
                                        <label class="form-label" for="MaSinhVien">Mã Sinh Viên</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input type="text" id="Name" class="form-control form-control-lg" />
                                        <label class="form-label" for="Name">Họ Tên</label>
                                    </div>

                                </div>
                                <div class="col-md-4 mb-4">

                                    <div class="form-outline">
                                        <input type="text" id="lopNienChe" class="form-control form-control-lg"/>
                                        <label class="form-label" for="lopNienChe">Lớp niên chế</label>
                                    </div>
                                </div>

                                <div class="col-md-2 mb-4" id="auto-gen-class">
                                    <input class="btn btn-primary btn-sm" type="button" value="AutoGen" id="autoGen" />
                                </div>
                            </div>

                            <div class="row">
                                @*<div class="col-md-6 mb-4 d-flex align-items-center">

                                    <select class="select form-control-lg" id="trinhDo">
                                        <option value="" disabled selected>Trình độ</option>
                                        <option value="Thạc sĩ">Thạc sĩ</option>
                                        <option value="Tiến sĩ">Tiến sĩ</option>
                                        <option value="Đại học">Đại học</option>
                                        <option value="THPT">Trung học phổ thông</option>
                                    </select>

                                </div>*@
                                <div class="col-md-12 mb-4">

                                    <h6 class="mb-2 pb-1">Giới tính: </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                                               value="Nam" checked />
                                        <label class="form-check-label" for="maleGender">Nam</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                                               value="Nữ" />
                                        <label class="form-check-label" for="femaleGender">Nữ</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                                               value="Khác" />
                                        <label class="form-check-label" for="otherGender">Khác</label>
                                    </div>

                                </div>
                            </div>

                            @*<div class="row">
                                <div class="col-md-12 mb-4 pb-1">

                                    <div class="form-outline">
                                        <input type="email" id="emailAddress" class="form-control form-control-lg" />
                                        <label class="form-label" for="emailAddress">Email</label>
                                    </div>

                                </div>
                            </div>*@

                            <div class="row">
                                <div class="col-6">

                                    <select class="select cchange form-control-lg" id="nganh">
                                        <option value="" selected disabled>Ngành</option>
                                        @foreach (var item in listNganh)
                                        {
                                            <option value="@item.MaNganh">@item.TenNganh</option>
                                        }
                                    </select>
                                    @*<label class="form-label select-label">Đơn vị trực thuộc</label>*@

                                </div>

                                <div class="col-6">

                                    <select class="select cchange form-control-lg" id="tenVietTat" disabled>
                                        <option value="" selected disabled></option>
                                        @foreach (var item in listNganh)
                                        {
                                            <option value="@item.MaNganh">@item.TenVietTat</option>
                                        }
                                    </select>
                                    @*<label class="form-label select-label">Phân Quyền</label>*@

                                </div>
                            </div>

                            @*<div class="row">

                            </div>*@

                            <div class="row mt-4 pt-2">

                                <div class="col-6" id="insertBTN">
                                    <input class="btn btn-primary btn-sm" type="button" value="Submit" id="submit" />
                                </div>

                                <div class="col-6 d-none" id="updateBTN">
                                    <input class="btn btn-primary btn-sm" type="button" value="Update" id="update" />
                                </div>

                                <div class="col-6">
                                    <input class="btn btn-secondary btn-sm" type="button" value="Làm mới" id="lamMoi" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $(document).ready(function () {
            $('#example').DataTable({
                order: [[2, 'asc']],
            });
        });
    });

    //Thêm mới sinh viên
    $('#submit').on('click', function () {

        var hoTen = document.getElementById("Name").value;
        var lopNienChe = document.getElementById("lopNienChe").value;
        var gioiTinh = $('input[name=inlineRadioOptions]:checked', '#form_add').val();
        var nganh = $('#nganh').find(":selected").val();
        //var email = document.getElementById("emailAddress").value;

        var student = {
            HoTen: hoTen,
            GioiTinh: gioiTinh,
            LopNienChe: lopNienChe,
            MaNganh: nganh
        };
        var data = JSON.stringify(student);

        $.ajax({
            url: '@Url.Action("InsertSinhVien", "SinhVien")',
            type: "POST",
            dataType: "json",
            //contentType: false,
            data: student,
            //async: true,
            //processData: false,
            //cache: false,
            success: function (data) {
                $("#Name").val('');
                $("#lopNienChe").val('');
                $("#emailAddress").val('');

                $("#form_add").toggleClass("d-none");
                $("#from_search").toggleClass("d-none");
                $(this)[0].innerText = ($(this)[0].innerText == "THÊM MỚI" ? "Quay lại" : "Thêm mới");


                var obj = JSON.parse(data);
                if (obj.Code == 0) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công!',
                        text: obj.Message,
                        timer: 1500
                    });
                    setTimeout(function () { window.location.href = "SinhVien/Index" }, 2000);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi!',
                        text: obj.Message,
                        timer: 3000
                    })
                }
            },
            error: function (xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText,
                })
            }
        });

    })

    //Chuyển ngành thì tự động chuyển tên lớp
    $("#nganh").change(function () {
        var se = $(this).prop('selectedIndex');
        $("#tenVietTat").prop('selectedIndex', se);
    });

    //Tự động chuyển từ khoá, ngành sang lớp
    $('#autoGen').click(function (event) {
        var namHienTai = new Date().getFullYear();
        var namThanhLap = 1959;
        var khoa = namHienTai - namThanhLap;
        //var tenVT = $('#tenVietTat').find(":selected").val();
        var tenVT = $('#tenVietTat').find(":selected")[0].innerText;
        var tenLop = khoa + tenVT;

        $('#lopNienChe').val(tenLop);
    });

    //Get Sinh Viên
    $('.nav_link-detail').on('click', function () {
        var idEmp = $(this)[0].id;

        $.ajax({
            url: '@Url.Action("GetSinhVien", "SinhVien")',
            type: "GET",
            dataType: "json",
            //contentType: false,
            data: { MaSinhVien: idEmp },
            //async: true,
            //processData: false,
            //cache: false,
            success: function (data) {
                var obj = JSON.parse(data);
                var $radios = $('input:radio[name=gender]');

                //$("#emailAddress").prop('disabled', true);

                document.getElementById('MaSinhVien').value = idEmp;
                $("#Name").val(obj.HoTen);
                $("#lopNienChe").val(obj.LopNienChe);
                $('input:radio[name="inlineRadioOptions"]').filter('[value="' + obj.GioiTinh + '"]').prop('checked', true);
                $("select#tenVietTat option").filter(function () {
                    //may want to use $.trim in here
                    return $(this).text() == obj.LopNienChe.substring(2,4);
                }).prop('selected', true);
                var conceptName = $('#tenVietTat').find(":selected").val();
                $("select#nganh").val(conceptName).change();

                $("#form_add").toggleClass("d-none");
                $("#from_search").toggleClass("d-none");
                document.getElementById('btn-add').textContent = "Quay lại";

                $("#insertBTN").addClass("d-none");
                $("#updateBTN").removeClass("d-none");
            },
            error: function (xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText,
                })
            }
        });
    })

    //Update Sinh Viên
    $('#update').on('click', function () {
        var maSinhVien = document.getElementById("MaSinhVien").value;
        var hoTen = document.getElementById("Name").value;
        var lopNienChe = document.getElementById("lopNienChe").value;
        var gioiTinh = $('input[name=inlineRadioOptions]:checked', '#form_add').val();

        var employee = {
            MaSinhVien: maSinhVien,
            HoTen: hoTen,
            GioiTinh: gioiTinh,
            LopNienChe: lopNienChe,
        };
        var data = JSON.stringify(employee);

        $.ajax({
            url: '@Url.Action("EditSinhVien", "SinhVien")',
            type: "POST",
            dataType: "json",
            //contentType: false,
            data: employee,
            //async: true,
            //processData: false,
            //cache: false,
            success: function (data) {
                $("#Name").val('');
                $("#lopNienChe").val('');

                //$("#form_add").toggleClass("d-none");
                //$("#from_search").toggleClass("d-none");
                //$(this)[0].innerText = ($(this)[0].innerText == "THÊM MỚI" ? "Quay lại" : "Thêm mới");

                var obj = JSON.parse(data);
                if (obj.Code == 0) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công!',
                        text: obj.Message,
                        timer: 1500
                    });
                    setTimeout(function () { window.location.href = "SinhVien/Index" }, 1000);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi!',
                        text: obj.Message,
                        timer: 3000
                    })
                }
            },
            error: function (xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi!',
                    text: 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText,
                })
            }
        });

    })

    //Xoá Sinh Viên
    $('.nav_link-delete').on('click', function () {
        var idEmp = $(this)[0].id;

        Swal.fire({
            title: 'Bạn có chắc muốn tắt hoạt động tài khoản này?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            denyButtonText: `Không`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("DeleteSinhVien", "SinhVien")',
                    type: "POST",
                    dataType: "json",
                    //contentType: false,
                    data: { MaSinhVien: idEmp },
                    //async: true,
                    //processData: false,
                    //cache: false,
                    success: function (data) {
                        var obj = JSON.parse(data);

                        $("#form_add").toggleClass("d-none");
                        $("#from_search").toggleClass("d-none");
                        $(this)[0].innerText = ($(this)[0].innerText == "THÊM MỚI" ? "Quay lại" : "Thêm mới");

                        var obj = JSON.parse(data);
                        if (obj.Code == 0) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành công!',
                                text: obj.Message,
                                timer: 1500
                            });
                            setTimeout(function () { window.location.href = "GiangVien/Index" }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi!',
                                text: obj.Message,
                                timer: 3000
                            })
                        }
                    },
                    error: function (xhr) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi!',
                            text: 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText,
                        })
                    }
                });
            } else if (result.isDenied) {
                Swal.fire('Không có sự thay đổi!', '', 'info')
            }
        })
    })
</script>