@model List<DiemDanhViewModel>
@{
    ViewBag.Title = "DiemDanh";
    var accInfo = ViewBag.AccInfo;
    //var listLopNienChe = ViewBag.LopNienChes;
    //var maLopMonHoc = ViewBag.MaLopMonHoc;
    //var arrayListLopNC = ViewBag.arrayListLopNC;
    //var listCaHoc = ViewBag.CaHocInfos;
    //var listBuoiHoc = ViewBag.BuoiHocInfos;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-responsive .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    #submitByClass, #lamMoi, #submitByStudent,
    #form_addEachStudent .ripple-surface,
    #form_addByClass .ripple-surface {
        width: 100%;
        font-size: 18px;
    }

    #MaMH {
        line-height: 2rem;
    }
</style>

<!--Select2-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

<div class="container py-1">
    <div class="row py-0">
        <div class="col-lg-6">
            <h4>
                Tình trạng điểm danh của bạn trong lớp môn học
            </h4>
        </div>

        <div class="col-lg-12 mx-auto" id="from_search">
            <div class="card rounded shadow border-0">
                <div class="row pt-4 ps-5 pe-5 pb-2">
                    @*<div class="col-lg-4 col-sm-4">
                        <label for="NgayDiemDanh">Ngày điểm danh</label>
                        <input id="NgayDiemDanh" class="form-control" type="date" />
                        <span id="NgayDiemDanhSelected"></span>
                    </div>*@

                    @*<div class="col-lg-4 col-sm-4">
                        <label for="BuoiHoc">Buổi học</label>
                        <select class="select form-control" id="BuoiHoc">
                            <option value="" disabled selected> -- Chọn -- </option>
                            @foreach (var x in listBuoiHoc)
                            {
                                <option value="@x.MaBuoiHoc">@x.BuoiHocSo</option>
                            }
                        </select>
                        <span id="BuoiHocSelected"></span>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <label for="CaHoc">Ca học</label>
                        <select class="select form-control" id="CaHoc">
                            <option value="" disabled selected>Trình độ</option>
                            @foreach (var x in listCaHoc)
                            {
                                <option value="@x.MaCaHoc">@x.GioBD - @x.GioKT</option>
                            }
                        </select>
                        <span id="CaHocSelected"></span>
                    </div>*@
                </div>

                <div class="card-body p-5 pt-2 bg-white rounded">
                    <div class="table-responsive">
                        <table id="example" style="width:100%" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã sinh viên</th>
                                    <th>Họ Tên Sinh Viên</th>
                                    <th>Người điểm danh</th>
                                    <th>Ngày điểm danh</th>
                                    <th>Tên lớp học</th>
                                    <th>Thời gian học</th>
                                    <th>Buổi học số</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var diemdanh in Model)
                                    {
                                        <tr data-id="@diemdanh.ID">
                                            <td>@diemdanh.MaSinhVien</td>
                                            <td>@diemdanh.TenSinhVien</td>
                                            <td>@diemdanh.TenGiangVien</td>
                                            <td>@diemdanh.NgayDiemDanh.ToString("dd/MM/yyyy")</td>
                                            <td>@diemdanh.TenLopMonHoc</td>
                                            <td>@diemdanh.GioBatDau - @diemdanh.GioKetThuc</td>
                                            <td>@diemdanh.BuoiHocSo</td>
                                            @if (@diemdanh.TrangThai == false)
                                            {
                                                <td style="color: green">Có mặt</td>
                                            }
                                            else
                                            {
                                                <td style="color: red ">Vắng</td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div>
                                                Không có dữ liệu sinh viên
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-lg-12 mt-4 mx-auto text-right">
            <button type="button" class="btn btn-outline-primary" id="btn-submit">
                Xác nhận
            </button>
        </div>*@
    </div>
</div>

<script>
    $(function () {
        $(document).ready(function () {
            $('#example').DataTable({
                order: [[1, 'desc']],
                "pageLength": 100,
                paging: false
            });

        });

    });


</script>